<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
 <script src="//static-v2.crocodoc.com/core/docviewer.js"></script>
 <script src="//crocodoc.com/webservice/document.js?session=<%= @session %>"></script>

<p id="notice"><%= notice %></p>

<aside id="sidebar">
   
   <h1><%= @document.title %></h1>
<!--   <p>Uploaded by <%= @document.user.fullname %></p>
   <p>Rating: ****</p>-->
   
   <div id="tags">
   <% @document.tags.each do |tag| %>
   	<div class="tag"><%= tag.name %></div>
   <% end %>
   	<div class="tag">Example Tag 1</div>
   	<div class="tag">Example Tag 2</div>
   </div>

	<div class="button blue"><a href="">Download</a></div>
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=280152582078774";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<div class="fb-like" data-send="true" data-layout="box_count" data-width="450" data-show-faces="true"></div>

</aside>

<div id="document-container">
	<div id="docviewer">
		  <script type="text/javascript">
		  	var docviewer = new DocViewer({ "id": "docviewer" });
		  </script>
	</div>
</div>
	
</div>


<!--<div class="document-info">
	
	<h1><%= @document.title %></h1>
	<span class="author">Uploaded by <%= @document.user.fullname %></span>
	
<!--	<% if current_user == @document.user %>
	<div class="button blue"><%= link_to 'Edit', edit_document_path(@document) %></div>
	<% end %>
	
	<div class="button blue"><%= link_to "Copy Short URL", @document %></div>
	
	<div id="tags">
	<% @document.tags.each do |tag| %>
		<div class="tag"><%= tag.name %></div>
	<% end %>
		<div class="tag">Example Tag 1</div>
		<div class="tag">Example Tag 2</div>
	</div>--*>

</div>-->
