<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
 <script src="//static-v2.crocodoc.com/core/docviewer.js"></script>
 <script src="//crocodoc.com/webservice/document.js?session=<%= @session %>"></script>

<p id="notice"><%= notice %></p>

<aside id="sidebar">
   
   <h1><%= @document.title %></h1>
   <p>Uploaded by <%= @document.user.fullname %></p>
   <p>Rating: xxxx</p>
   <p>Social Media...</p>

	<input type="button" value="Download" />

   	<h1>Related Documents</h1>
   	<article>
   		<h3>Frankenstein &amp; Blade Runner</h3>
   		<p>lorem</p>
   	</article>
   	<article>
   		<h3>Seamus Heaney Sucks</h3>
   		<p>lorem ipsum</p>
   	</article>

</aside>

<div id="document-container">
	<div id="docviewer">
		  <script type="text/javascript">
		  	var docviewer = new DocViewer({ "id": "docviewer" });
		  </script>
	</div>
</div>
	
</div>


<!--<div class="document-info">
	
	<h1><%= @document.title %></h1>
	<span class="author">Uploaded by <%= @document.user.fullname %></span>
	
<!--	<% if current_user == @document.user %>
	<div class="button blue"><%= link_to 'Edit', edit_document_path(@document) %></div>
	<% end %>
	
	<div class="button blue"><%= link_to "Copy Short URL", @document %></div>
	
	<div id="tags">
	<% @document.tags.each do |tag| %>
		<div class="tag"><%= tag.name %></div>
	<% end %>
		<div class="tag">Example Tag 1</div>
		<div class="tag">Example Tag 2</div>
	</div>--*>

</div>-->
