<!DOCTYPE html>
<html>
<head>
  <title>Documents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="/json2.js"></script>

<!-- jQuery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- Custom Fonts -->
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="/tags.css"/>
<script src="/tags.js"></script>



</head>
<body>
	
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
   <header>
    <ul class="menu lgray slide">
    	<li><%= link_to "Main", "/" %></li>
    	<li>
    		<%= link_to "Tags", "/tags" %>
    		<ul>
    			<% Tag.all.each do |tag| %>
    				<li><%= link_to tag.name, tag %></li>
    			<% end %>
    		</ul>
    	</li>
    	<li class="floatr"><%= link_to "New", new_document_path %></li>
	<% if user_signed_in? %>
		<li class="floatr">
			<%= link_to current_user.fullname, "" %>
			<ul>
				<!--<li><a href=""><%= current_user.email %></a></li>-->
				<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
			</ul>
		
		</li>
		
		<li><a>Search</a></li>
	<% else %>
		<li><%= link_to('Login', new_user_session_path)  %></li>
	<% end %>
    </ul>
   </header>
   
   <div id="content">
   
   <aside id="sidebar">
   
   <nav>
   	<h1>Related Documents</h1>
   	<article>
   		<h3>Frankenstein &amp; Blade Runner</h3>
   		<p>lorem</p>
   	</article>
   	<article>
   		<h3>Seamus Heaney Sucks</h3>
   		<p>lorem ipsum</p>
   	</article>
   </nav>
   
   </aside>

	<div id="page">
		<%= yield %>
	</div>
	
	</div>


</body>
</html>
